

.all body{
    display: flex;
    justify-content: center;
    background-color:  #ffffff;
}


.App {
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    
    width: 500px;
    height: 570px;
    margin: 20px; 
    margin-top: 100px; /* Adjust if the App is directly under body and you have a fixed header */
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}

.activeColor, .pointer {
    padding: 10px 20px;
    height: auto; 
    min-width: 100px;
    border: 2px solid #007bff; 
    margin: 0 10px; 
    text-align: center; 
    border-radius: 4px; 
    background-color: #007bff; 
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s; 
}

.pointer {
    background-color: transparent;
    color: #007bff; 
}

.activeColor:hover, .pointer:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.regi-form input[type="email"], input[type="password"] {
    width: calc(100% - 24px); 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
.up-in-btn{
    background-color: #0093d7;
}


button {
    width: 100%;
    padding: 10px; 
    border: none;
    background-color: #28a745; 
    color: #0a0909;
    cursor: pointer;
    border-radius: 4px; 
    transition: background-color 0.3s;
    border-style: solid;
    border-color: #0a0909;
}

button:hover {
    background-color: #218838; 
}


button {
    width: 100%;
    padding: 10px; 
    border: none;
    background-color: #28a745; 
    color: #0a0909;
    cursor: pointer;
    border-radius: 4px; 
    transition: background-color 0.3s;
    border-style: solid;
    border-color: #0a0909;
}

button:hover {
    background-color: #218838; 
}

.regi-form form {
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 20px; 
    text-align: center; 
}


/* img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
} */

.header-img{
    width: 60px;
    height: 60px;
}

.imgContainer {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 

    position: fixed;
    top: 2px; 
    left: 10px; 
    z-index: 100; 
    background-color: rgb(6, 91, 187);  
    width: 98.6%;
    height: 70px;
    border-radius: 5px;
    border-color: #0a0909; 
}


.Container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 80px;
    margin-bottom: 200px;
    width: 1000px; 
    max-width: 900px;
 
}
.Container .link-to-todo{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: #4194ed;
    margin-left: 800px;
    width: 200px;
    cursor: pointer;
    color: #000000;
    border-radius: 40px; 
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    
}
.Container .link-to-todo:hover{
    background-color: #40ffe2;
    color: #ffffff;
}

.profile_bio {
    border-style: solid;
    border-width: 2px;
    border-color: #09a1e3;
    font-family: Arial, sans-serif; 
    width: 600px;
    align-items: center;
    border-radius: 20px;
    background-color: #a5a6a6;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.info-section {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.achievements-content, .skills-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    white-space: pre-line; 
    text-align: justify; 
    text-align-last: left; 
    border-style: solid;
    border-color: #007bff;
}


.achievements-content h2, .skills-content h2 {
    margin-top: 0;
}

.home-btn button {
    cursor: pointer; 
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px; 
    background-color: #007bff; 
    color: white;
    font-size: 16px; 
    transition: background-color 0.3s;
}

.home-btn button:hover {
    background-color: #0056b3; 
}

.edit-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.edit-section form div {
    display: flex;
    flex-direction: column;
}

.edit-section form label {
    margin-bottom: 5px; 
}

.edit-section form input, form textarea, form button {
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc;
} 


.profile_pic{
    border-style: solid;
    border-color: #ffffff;
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 50px;
    max-width:100px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
 
}
img{
    width: 100px;
    height: 110px;
}

.prof_bio{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align-last: center; 
    font-family:'Times New Roman', Times, serif;
    border-style: none;

}
.prof_bio h3{
    color: #4194ed;
    font-weight: bolder;
} 
.prof_bio h4{
    color: #524a4a57;
    font-style: italic;
    font-weight: lighter;

} 

.profile-btns{
    background-color: #4194ed;
}

.profile-btns:hover{
    background-color: #218838;
}

.profile_pic-bio{
    border-style: solid;
    border-width: 2px;
    border-color: #dedede; 
    font-family: Arial, sans-serif; 
    width: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #007bff;

}

h2{
    color: #000000;
}

.edit-section textarea{
    width: 600px;
    height: 100px;
    margin-right: 300px;
}
.edit-section input{
    width: 600px;
}

.edit-section{
    width: 640px;
    border-style: solid;
    border-color: #09a1e3;
    margin-top: 50px;
    border-radius: 20px;
    height: 660px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding: 20px;
    
}
.regi-form input{
    height: 38px;
}

.forgot {
    border-radius: 20px;
    width: 200px;
    height: 48px;
    text-align: center;
    display: flex; /* Make this a flex container */
    justify-content: center; /* Center horizontally for flex items, works together with text-align */
    align-items: center; /* Center vertically */
    margin: auto 140px;
    cursor: pointer;
}

.forget-app{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    
    width: 500px;
    height: 570px;
    margin: 10px; 
    margin-top: 100px;

}
.forget-app button{
 background-color: #09a1e3;
}

.forget-app input{
    border-style: solid;
    border-color: #09a1e3;
}

.forgot:hover{
    color: #fb0000;
}

.google{
    color:#007bff;
    background-color: transparent;
    border-style: solid;
    border-color: #007bff;
    height: 20px;
    width: 300px;
    padding: 8px;
    border-radius: 2%;
}
.google:hover{
    background-color: #0056b3;
    color: #ffffff;

}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
    }
}
